--update-snapshots
--threads=1C
--fail-at-end
--color=always
--lax-checksums
--settings=${maven.multiModuleProjectDirectory}/settings.xml
-Dmaven.sourceDirectory=src/main/java
-Dmaven.wagon.http.ssl.insecure=true
-Dmaven.wagon.http.ssl.allowall=true
-Dmaven.wagon.http.ssl.ignore.validity.dates=true
-Dmaven.plugin.validation=VERBOSE
