package {{package}};

import org.springframework.cloud.openfeign.FeignClient;
import {{configPackage}}.ClientConfiguration;

@FeignClient(name="${{openbrace}}{{>feignClientName}}.name:{{>feignClientName}}{{closebrace}}"{{#useFeignClientUrl}},
             url="${{openbrace}}{{>feignClientName}}.url:{{basePath}}{{closebrace}}"{{/useFeignClientUrl}},
             configuration = ClientConfiguration.class)
public interface {{classname}}Client extends {{classname}} {
}
