config.stopBubbling = true

lombok.accessors.chain = true
lombok.tostring.donotusegetters = true
lombok.fieldDefaults.defaultFinal = true
lombok.fieldDefaults.defaultPrivate = true
lombok.addLombokGeneratedAnnotation = true
lombok.equalsandhashcode.donotusegetters = true
lombok.extern.findbugs.addSuppressFBWarnings = true

lombok.copyableAnnotations += org.springframework.context.annotation.Lazy
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.boot.context.properties.bind.DefaultValue

lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonValue
